.color:global {
  &.MuiButtonBase-root {
    width: fit-content;
    border-radius: 50px;
    text-transform: unset;
    font-size: 1.1rem;
    padding: 5px 40px;
  }

  &:not(.Mui-disabled) {
    &.yellow,
    &:hover.yellow {
      background-color: var(--yellow);
    }

    &.pink,
    &:hover.pink {
      background-color: var(--pink);
    }
  }
}
