

.div1{
    
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.precio{
    padding: 10px;
    color: #F20574;
}

.carrito{
    background-color:#F20574;
    border-radius: 40px;
    border-color: transparent;
}

.carrito:hover{
    background-color: #a90451;
    border-color: transparent;
}

.carrito:active{
    background-color: #F20574;
    border-color: transparent;
}


.plato{
    padding-top: 20px;
    padding-bottom: 20px;
}

.info{
    padding-top: 10px;
    text-align: justify;
}








