.select :global {
  border-radius: 25px;
  border: none;

  .MuiSelect-select {
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 25px;
  }

  .MuiSvgIcon-root {
    color: var(--pink) !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
}
