:root {
  --yellow: #f2a007;
  --black: #000000;
  --pink: #f20574;
  --white: #f5efef;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
