.pink {
  color: var(--pink);
}

.join-foodius-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.text-centered-vertically {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  gap: 25px;
}

.foodius {
  background-color: var(--pink);
}
