.admin {
  display: grid;
  grid-template-columns: 10% 1fr;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  .sidebar {
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    background-color: var(--white);
    padding: 40px;

    .logo {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }

    .sections-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .item {
        --icon-color: #000;
        --btn-border: none;

        display: flex;
        justify-content: center;

        :global {
          .MuiSvgIcon-root {
            font-size: 30px;
            color: var(--icon-color);
          }

          .MuiButtonBase-root {
            border: var(--btn-border);
          }
        }

        &.active {
          --icon-color: var(--pink);
          --btn-border: 2px solid var(--pink);
        }
      }
    }
  }

  .content {
    padding: 50px;
    overflow: auto;

    .header {
      height: 15%;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .barraB {
    background-color: #f5efef;
    border-radius: 20px;
  }

  .contBarra {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .mid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .numb {
    display: flex;
    text-align: center;
    color: #f20574;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .descrip {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
  }

  .img1 {
    text-align: center;
  }

  .img2 {
    text-align: center;
  }

  .img3 {
    text-align: center;
  }
}

.map {
  display: flex;
  justify-content: center;
  padding: 15px 0;

  iframe {
    width: 75%;
    height: 300px;
    border-radius: 15px;
  }
}
