
    
    .hola{
        font-size: 30px;
        text-decoration: solid;
    }


        
    

.customtable th, .customtable td {
    padding: 16px;
    text-align: left;
    background-color: transparent;
    border: none;
    
}

.customtable th {
    background-color: transparent;
}

.shop{
    margin: 10px;
    color: black;
}





   
